<h2 class="post__title" >Add you post</h2>
<div class="form-post">
	<input class="inp-elem" v-model="title" placeholder="Enter yuo post title">
	<textarea class="inp-elem" v-model="body" placeholder="Enter yuo post"></textarea>
	<button class="inp-elem" @click="enter">Enter</button>
</div>
