<% posts.forEach( function(post) { %>
	<div class="post" <%= `data-id=${post.id}` %> >
		<header class="post_header">
			<h2 class="post__title"><%= post.title %><h2>
		</header>
		<main class="post__body">
			<%= post.body %>
		</main>
	</div>
<% } ); %>
