<nav class="tab-bar">
	<ul class="tab-bar__options">
		<li><a class="link" href="#">Home</a></li>
		<li><a class="link" href="#">About</a></li>
		<li><a class="link" href="#">Services</a></li>
	</ul>
</nav>