<!DOCTYPE html>
	<% include component/head %>
	<body>
		<% include component/header %>
		
		<% include page_content/front-page %>

		<% include component/footer %>
		
		<% include component/scripts %>
	</body>
</html>
